/target*
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.repl-port
*.sublime-workspace
*.sublime-project
/.cpcache*
.DS_Store
files
config.edn
.clj-kondo
site/patrons/*.toml
site/presence
*.duckdb

# drafts
site/blog/color-spaces
site/blog/popups
site/blog/reject-modernity
site/blog/shortcuts
site/blog/stability
site/blog/tailwind
site/blog/timezones
site/blog/yesterday-js
