{:deps
 {instaparse/instaparse              {:mvn/version "1.4.12"}
  io.github.tonsky/clj-simple-router {:mvn/version "0.1.0"}
  http-kit/http-kit                  {:mvn/version "2.7.0"}
  mount/mount                        {:mvn/version "0.1.17"}
  org.clojure/clojure                {:mvn/version "1.11.1"}
  ring/ring-core                     {:mvn/version "1.8.0"}
  io.github.tonsky/toml-clj          {:mvn/version "0.1.0"}
  cheshire/cheshire                  {:mvn/version "5.12.0"}
  io.github.tonsky/duti              {:git/sha "8c3c6cdff5fbc909db6da4b2711f9ec2e91dcfb1"
                                      #_#_:local/root "/Users/tonsky/ws/duti"}}
 :aliases
 {:dev
  {:jvm-opts ["-ea"]
   :extra-paths ["dev" "test"]
   :extra-deps 
   {io.github.tonsky/clj-reload {:mvn/version "0.1.3"}
    }}
  :uberdeps
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
   :replace-paths []}}}