.content { flex-grow: 1; justify-content: center; margin: 0; }
.content > * { width: unset; }
.content button {
  height: 48px;
  padding: 0 1.4rem;

  background: linear-gradient(#FFFFFF20 45%, #FFFFFF00 55%),
              linear-gradient(#FFFFFF20 0%, #FFFFFF00 100%),
              #303030;
  background-blend-mode: overlay, normal, normal;
  box-shadow: #304050FF 0px 0px 0px 1px,
              #FFFFFF20 0px 1px inset,
              #00000080 0px 2px 6px;
  
  outline: 2px solid transparent;
  outline-offset: 2px;

  color: #EEE;
/*  letter-spacing: .025em;*/
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border-radius: .5rem;
  border: 0 solid #d9d9de;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content button > img { display: inline-block; animation: rotate360 0.8s linear infinite; }

.content button:hover,
.content button:active {
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,.36,0,1);
  transition-property: background-color,box-shadow;
}

.content button:hover {
  background: linear-gradient(#FFFFFF28 45%, #FFFFFF00 55%),
              linear-gradient(#FFFFFF28 0%, #FFFFFF00 100%),
              #383838;
  box-shadow: #405060FF 0px 0px 0px 1px,
              #FFFFFF20 0px 1px inset,
              #00000080 0px 2px 8px;
}

.content button:active, .content button[disabled] {
  background: linear-gradient(#FFFFFF20 45%, #FFFFFF00 55%),
              /* linear-gradient(#FFFFFF20 0%, #FFFFFF00 100%), */
              #303030;
  box-shadow: #405060FF 0px 0px 0px 1px,
              #FFFFFF05 0px 1px inset,
              #00000080 0px 2px 0px;
}