#presence {
  position: fixed;
  bottom: 14px;
  right: 25px;
  left: 10px;
}

#presence > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

#presence > ul > li {
  position: relative;
  width: 35px;
  height: 50px;
  transition: width 0.1s linear;
}

#presence > ul > li > .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: oklch(from var(--bg) calc(l - 0.1) c h);
  border: 5px solid var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
}

#presence > ul > li.removing {
  width: 0;
}

#presence > ul > li.inserting {
  width: 0;
}

#presence > ul > li:hover {
  z-index: 1;
  cursor: default;
}

#presence > ul > li .flag-overlay {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  /* background-color: #BDA421; */
  border-radius: 5px;
  padding: 0 2px;
  line-height: 1;
  z-index: 1;
}